<label>
  <span class="text-label">Date</span>
  <%= text_field 'price', 'date' %>
</label>

<label>
  <span class="text-label">Open</span>
  <%= text_field 'price', 'open_price' %>
</label>

<label>
  <span class="text-label">Close</span>
  <%= text_field 'price', 'close_price' %>
</label>

<label>
  <span class="text-label">Low</span>
  <%= text_field 'price', 'low_price' %>
</label>

<label>
  <span class="text-label">High</span>
  <%= text_field 'price', 'high_price' %>
</label>

<label>
  <span class="text-label">Value</span>
  <%= text_field 'price', 'value' %>
</label>
